# Merge sections A and E in genetic data

## Libraries imports

In [ ]:
import numpy as np
import pandas as pd

## Data import

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/merged_all.csv")

<ipython-input-4-bafbdec95329>:1: DtypeWarning: Columns (1379,1380,1382,1388,1391) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("/content/drive/MyDrive/merged_all.csv")

In [ ]:
print(data.shape)
data.head()

(42233, 15191)

,HHIDPN,S1HHIDPN,R1MSTAT,R1MPART,S1BMONTH,S1BYEAR,S1BDATE,S1BFLAG,S1COHBYR,S1HRSAMP,...,E4_ALC_PGC18,E4_PP_COGENT17,E4_SBP_COGENT17,E4_EGFR_CKDGEN19,E4_EGFRTE_CKDGEN19,E4_EA3_W23_SSGAC18,E4_HBA1CAA_MAGIC17,E4_HBA1CEA_MAGIC17,E4_GCOG2_CHARGE18,VERSION.y
0,1010,0.0,5.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,0.0,7.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3010,3020.0,1.0,0.0,9.0,1938.0,-7778.0,0.0,3.0,1.0,...,1.63550,-0.58662,-0.66936,1.04423,1.02390,1.53372,0.47688,-1.28083,-1.51568,4.3
3,3020,3010.0,1.0,0.0,1.0,1936.0,-8752.0,0.0,3.0,1.0,...,-1.17425,-0.06204,-0.70205,-1.06050,-1.08282,0.85439,-0.62488,-1.29031,0.40118,4.3
4,10001010,0.0,8.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Merge

**Pre-merge of sections A and E checks** : We check whether or not keeping columns from both sections A and E is needed.

In [ ]:
# Columns of section A
columns_section_A = ['HHID.x', 'PN.x', 'PC1_5A.x', 'PC1_5B.x', 'PC1_5C.x', 'PC1_5D.x',
       'PC1_5E.x', 'PC6_10A.x', 'PC6_10B.x', 'PC6_10C.x', 'PC6_10D.x',
       'PC6_10E.x', 'A4_GENCOG_CHARGE15', 'A4_BMI_GIANT15',
       'A4_HEIGHT_GIANT14', 'A4_SCZ_PGC14', 'A4_EDU2_SSGAC16',
       'A4_EVRSMK_TAG10', 'A4_AD_IGAP13', 'A4_AD2_IGAP13', 'A4_WC_GIANT15',
       'A4_WHR_GIANT15', 'A4_NEUROT_SSGAC16', 'A4_WELLB_SSGAC16',
       'A4_DEPSYMP_SSGAC16', 'A4_CD_CARDIOGRAM11', 'A4_MI_CARDIOGRAM15',
       'A4_CORT_CORNET14', 'A4_T2D_DIAGRAM12', 'A4_BIP_PGC11', 'A4_ADHD_PGC17',
       'A4_ADHD_PGC10', 'A4_XDISORDER_PGC13', 'A4_MENA_REPROGEN14',
       'A4_MENO_REPROGEN15', 'A4_MDD_PGC13', 'A4_CPD_TAG10',
       'A4_EXTRAVER_GPC16', 'A4_AUTISM_PGC17', 'A4_LONG_CHARGE15',
       'A4_AB_BROAD17', 'A4_EDU3_SSGAC18', 'A4_OCD_IOCDF17',
       'A4_AFBC_SOCGEN16', 'A4_AFBF_SOCGEN16', 'A4_AFBM_SOCGEN16',
       'A4_NEBC_SOCGEN16', 'A4_NEBF_SOCGEN16', 'A4_NEBM_SOCGEN16',
       'A4_MDD2_PGC18', 'A4_PTSDAA_PGC18', 'A4_PTSDEA_PGC18', 'A4_PTSDC_PGC18',
       'A4_HDL_GLGC13', 'A4_LDL_GLGC13', 'A4_TC_GLGC13', 'A4_ANXFS_ANGST16',
       'A4_ANXCC_ANGST16', 'A4_BUN_CKDGEN19', 'A4_BUNTE_CKDGEN19',
       'A4_CKD_CKDGEN19', 'A4_CKDTE_CKDGEN19', 'A4_DBP_COGENT17',
       'A4_BMI2_GIANT18', 'A4_HEIGHT2_GIANT18', 'A4_AI_GSCAN19',
       'A4_CPD_GSCAN19', 'A4_DPW_GSCAN19', 'A4_SC_GSCAN19', 'A4_SI_GSCAN19',
       'A4_HTN_COGENT17', 'A4_CANNABIS_ICC18', 'A4_GWAD2NA_IGAP19',
       'A4_01AD2NA_IGAP19', 'A4_GWAD2WA_IGAP19', 'A4_01AD2WA_IGAP19',
       'A4_ALC_PGC18', 'A4_PP_COGENT17', 'A4_SBP_COGENT17', 'A4_EGFR_CKDGEN19',
       'A4_EGFRTE_CKDGEN19', 'A4_EA3_W23_SSGAC18', 'A4_HBA1CAA_MAGIC17',
       'A4_HBA1CEA_MAGIC17', 'A4_GCOG2_CHARGE18', 'VERSION.x']

# Columns of section E
columns_section_E = ['HHID.y', 'PN.y', 'PC1_5A.y', 'PC1_5B.y', 'PC1_5C.y', 'PC1_5D.y',
       'PC1_5E.y', 'PC6_10A.y', 'PC6_10B.y', 'PC6_10C.y', 'PC6_10D.y',
       'PC6_10E.y', 'E4_GENCOG_CHARGE15', 'E4_BMI_GIANT15',
       'E4_HEIGHT_GIANT14', 'E4_SCZ_PGC14', 'E4_EDU2_SSGAC16',
       'E4_EVRSMK_TAG10', 'E4_AD_IGAP13', 'E4_AD2_IGAP13', 'E4_WC_GIANT15',
       'E4_WHR_GIANT15', 'E4_NEUROT_SSGAC16', 'E4_WELLB_SSGAC16',
       'E4_DEPSYMP_SSGAC16', 'E4_CD_CARDIOGRAM11', 'E4_MI_CARDIOGRAM15',
       'E4_CORT_CORNET14', 'E4_T2D_DIAGRAM12', 'E4_BIP_PGC11', 'E4_ADHD_PGC17',
       'E4_ADHD_PGC10', 'E4_XDISORDER_PGC13', 'E4_MENA_REPROGEN14',
       'E4_MENO_REPROGEN15', 'E4_MDD_PGC13', 'E4_CPD_TAG10',
       'E4_EXTRAVER_GPC16', 'E4_AUTISM_PGC17', 'E4_LONG_CHARGE15',
       'E4_AB_BROAD17', 'E4_EDU3_SSGAC18', 'E4_OCD_IOCDF17',
       'E4_AFBC_SOCGEN16', 'E4_AFBF_SOCGEN16', 'E4_AFBM_SOCGEN16',
       'E4_NEBC_SOCGEN16', 'E4_NEBF_SOCGEN16', 'E4_NEBM_SOCGEN16',
       'E4_MDD2_PGC18', 'E4_PTSDAA_PGC18', 'E4_PTSDEA_PGC18', 'E4_PTSDC_PGC18',
       'E4_HDL_GLGC13', 'E4_LDL_GLGC13', 'E4_TC_GLGC13', 'E4_ANXFS_ANGST16',
       'E4_ANXCC_ANGST16', 'E4_BUN_CKDGEN19', 'E4_BUNTE_CKDGEN19',
       'E4_CKD_CKDGEN19', 'E4_CKDTE_CKDGEN19', 'E4_DBP_COGENT17',
       'E4_BMI2_GIANT18', 'E4_HEIGHT2_GIANT18', 'E4_AI_GSCAN19',
       'E4_CPD_GSCAN19', 'E4_DPW_GSCAN19', 'E4_SC_GSCAN19', 'E4_SI_GSCAN19',
       'E4_HTN_COGENT17', 'E4_CANNABIS_ICC18', 'E4_GWAD2NA_IGAP19',
       'E4_01AD2NA_IGAP19', 'E4_GWAD2WA_IGAP19', 'E4_01AD2WA_IGAP19',
       'E4_ALC_PGC18', 'E4_PP_COGENT17', 'E4_SBP_COGENT17', 'E4_EGFR_CKDGEN19',
       'E4_EGFRTE_CKDGEN19', 'E4_EA3_W23_SSGAC18', 'E4_HBA1CAA_MAGIC17',
       'E4_HBA1CEA_MAGIC17', 'E4_GCOG2_CHARGE18', 'VERSION.y']

number_of_genetic_variables = len(columns_section_E) # Number of variables in one section.
for i in range(number_of_genetic_variables):
    var_section_A = columns_section_A[i]
    var_section_E = columns_section_E[i]

    # Normally, each individual i is present in only one Section, so for any genetic variable V, we must have
    # V_sectionA(i) = NaN or V_sectionE(i) = NaN. We check that.
    if not data.loc[(~data[var_section_A].isna()) & (~data[var_section_E].isna()), "HHIDPN"].empty:
        raise Exception("Variable %u presents conflicts between section A and E." % var_section_A)

**Merge of sections A and E**

In [ ]:
# We now create new variables whose name will start with 'genetic_'.
for i in range(number_of_genetic_variables):
    var_section_A = columns_section_A[i]
    var_section_E = columns_section_E[i]
    
    if var_section_A[0] == "A": # for instance : "A4_AD_IGAP13" or "A4_ADHD_PGC17"
        var_section_merged = "genetic_" + var_section_A[1:] # It becomes "genetic_4_AD_IGAP13" ou "genetic_4_ADHD_PGC17"
    else: # for instance : "PC1_5A.x" or "PC6_10D.y" or "VERSION.x"
        var_section_merged = "genetic_" + var_section_A[:-2] # It becomes "genetic_PC1_5A" or genetic_PC6_10D" or "genetic_VERSION"

    # We save the newly created variable.
    data[var_section_merged] = data[var_section_A].combine_first(data[var_section_E])

# We create a new variable, named 'genetic_Section_A_or_E', to know where does the value of 'var_section_merged' comes from.
data["genetic_Section_A_or_E"] = np.nan
data.loc[data['genetic_HHID'] == data['HHID.x'], "genetic_Section_A_or_E"] = "A"
data.loc[data['genetic_HHID'] == data['HHID.y'], "genetic_Section_A_or_E"] = "E"

data = data.drop(columns=["genetic_HHID", "genetic_PN"]) # These columns are redondant

In [ ]:
print(data.shape)
data.head()

(42233, 15276)

,HHIDPN,S1HHIDPN,R1MSTAT,R1MPART,S1BMONTH,S1BYEAR,S1BDATE,S1BFLAG,S1COHBYR,S1HRSAMP,...,genetic_4_PP_COGENT17,genetic_4_SBP_COGENT17,genetic_4_EGFR_CKDGEN19,genetic_4_EGFRTE_CKDGEN19,genetic_4_EA3_W23_SSGAC18,genetic_4_HBA1CAA_MAGIC17,genetic_4_HBA1CEA_MAGIC17,genetic_4_GCOG2_CHARGE18,genetic_VERSION,genetic_Section_A_or_E
0,1010,0.0,5.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,0.0,7.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3010,3020.0,1.0,0.0,9.0,1938.0,-7778.0,0.0,3.0,1.0,...,-0.58662,-0.66936,1.04423,1.02390,1.53372,0.47688,-1.28083,-1.51568,4.3,E
3,3020,3010.0,1.0,0.0,1.0,1936.0,-8752.0,0.0,3.0,1.0,...,-0.06204,-0.70205,-1.06050,-1.08282,0.85439,-0.62488,-1.29031,0.40118,4.3,E
4,10001010,0.0,8.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Deleting old data from sections A and E**

In [ ]:
data = data.drop(columns_section_A, axis=1)
data = data.drop(columns_section_E, axis=1)

In [ ]:
print(data.shape)
data.head()

(42233, 15104)

,HHIDPN,S1HHIDPN,R1MSTAT,R1MPART,S1BMONTH,S1BYEAR,S1BDATE,S1BFLAG,S1COHBYR,S1HRSAMP,...,genetic_4_PP_COGENT17,genetic_4_SBP_COGENT17,genetic_4_EGFR_CKDGEN19,genetic_4_EGFRTE_CKDGEN19,genetic_4_EA3_W23_SSGAC18,genetic_4_HBA1CAA_MAGIC17,genetic_4_HBA1CEA_MAGIC17,genetic_4_GCOG2_CHARGE18,genetic_VERSION,genetic_Section_A_or_E
0,1010,0.0,5.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,0.0,7.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3010,3020.0,1.0,0.0,9.0,1938.0,-7778.0,0.0,3.0,1.0,...,-0.58662,-0.66936,1.04423,1.02390,1.53372,0.47688,-1.28083,-1.51568,4.3,E
3,3020,3010.0,1.0,0.0,1.0,1936.0,-8752.0,0.0,3.0,1.0,...,-0.06204,-0.70205,-1.06050,-1.08282,0.85439,-0.62488,-1.29031,0.40118,4.3,E
4,10001010,0.0,8.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Export the database

In [ ]:
data.to_csv("data_without_AE.csv", index=False)